@charset "UTF-8";

/* 全体に適用される設定 */

html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /* background: rgba(93, 133, 201, 0.25)  no-repeat fixed left bottom; */
    /* background-size: cover; */
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

ul {
    list-style-type: none;
}



/* ヘッダーの設定 */

header {
    padding: 170px 30px 80px;
    background-image: linear-gradient(#c9ffbf, #ffafbd);
    width: 100%;
}

.site-title-sub {
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 2.2rem;
}

.site-title-sub::before,
.site-title-sub::after {
content: '';
display: inline-block;
width: 140px;
height: 2px;
margin: 0 30px;
background-color: #fff;
vertical-align: middle;
}
        
.site-title {
    margin: 50px 0 40px;
    font-size: 7.6rem;
    color: black;
}

.site-description {
    margin-bottom: 50px;
    color: #888;
    font-size: 1.6rem;
}


.button {
    display: inline-block;
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    background-color: #0bd;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.button:hover {
    opacity: 0.6;
}

.button-showy {
    background-color: #D29E04;
}

.buttons .button {
    margin: 10px;
}



/* ABOUTの設定 */

.about {
    padding: 80px 30px;
    background-color: #fff;
    color: #333;
}

.heading {
    position: relative;
    display: inline-block;
    margin: 30px 0 60px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-size: 4rem;
}

.heading::before,
.heading::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #999;
}

.heading::before {
    bottom: 5px;
}

.about-container {
    /* width: 1200px; */
    margin: 0 auto;
    display: flex;
    padding: 0 4%;
}

.about-image {
    width: 50%;
}

img {
    margin: 0 auto;
    display: block;
}

.about-text {
    width: 50%;
    margin: 0 0 30px;
    /* line-height: 2.0; */
    text-align: justify;
    font-size: 16px;
}

.about-text p {
    margin-bottom: 30px;
}

.about-name {
    margin-top: 0;
}

a .icon {
    margin-right: 10px;
    font-size: 30px;
}

.about-text p:nth-child(5) {
    margin-bottom: 0;
}



/* WORKSの設定 */

.works {
    background-color: #383634;
    padding: 80px 0;
}

.works-wrapper {
    display: table;
    width: 100%;
    margin-top: 60px;
    table-layout: fixed;
}

.work-box {
    position: relative;
    display: table-cell;
}

.work-image {
    display: block;
    width: 100%;
    margin: 0 0 60%;
}

.work-box::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background: no-repeat;
    background-size: 100% 100%;
    opacity: 0.2;
    transform: scaleY(-1);
}

.work-description {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50%;
    overflow-y: auto;
}

.work-description-inner {
    display: table;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.work-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2rem;
    line-height: 2;
}

.work-text .button {
    width: 60%;
    margin-top: 20px;
    padding: 3px;
}

.button-ghost {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.15);
}

.work-box.tree::after {
    background-image: url('../images/tree.jpg');
}
  .work-box.building::after {
    background-image: url('../images/building.jpg');
}
  .work-box.lake::after {
    background-image: url('../images/lake.jpg');
}
  .work-box.sky::after {
    background-image: url('../images/sky.jpg');
}

.work-box:nth-child(odd) .work-image {
    margin: 60% 0 0;
}

.work-box:nth-child(odd) .work-description,
.work-box:nth-child(odd)::after {
    top: 0;
}



/* skillの設定 */

.skills {
    padding: 80px 0;
    background-color: #fff;
    color: #333;
}

.skills-wrapper {
    display: table;
    width: 80%;
    margin: 50px auto 0;
    table-layout: fixed;
}

.skill-box {
    display: table-cell;
}

.skill-icon {
    /* width: 300px; */
    /* height: 150px; */
    margin-bottom: 30px;
    /* border: 4px solid; */
    border-radius: 50%;
    color: #f1b400;
    font-size: 10rem;
    line-height: 150px;
    align-items: center;
    justify-content: center;
}

.skill-title {
    margin: 0 20px 20px;
    font-size: 2rem;
  }
.skill-text {
    margin: 0 20px;
    line-height: 2;
}

.fab {
    font-size: 100px;
}




/* contactの設定 */


#contact {
    padding: 80px 0 150px;
    background: rgba(93, 133, 201, 0.25)
}

.contact{
    padding: 80px 0 150px;
    /* padding-bottom: 40px; */
}
.contact h2{
    /* padding-top: 40px; */
    /* font-size: 60px; */
    margin: 0 auto;
}
.contact a{
    font-size: 70px;
    margin: 30px;
}

.contact p {
    margin: 50px auto 50px;
}

.fa-facebook-square{
    /* font-size: 70px; */
    margin: 30px;
    color: rgb(61, 77, 148);
}
.fa-twitter{
    /* font-size: 70px; */
    margin:  30px; 
    color: rgb(108, 163, 246)
}
.fa-instagram{
    /* font-size: 70px; */
    margin: 30px; 
    color: rgb(201, 58, 187)
}

.contact-form {
    width: 50%;
    margin: 50px auto 0;
}
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
    display: block;
    width: 350px;
    margin-bottom: 10px;
    padding: 15px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0;
    background-color: white;
    color: black;
    height: 40px;
    margin: 20px auto;
}
.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
    box-shadow: 0 0 8px black inset;
}
.contact-form textarea {
    height: 150px;
}
.contact-form input[type=submit] {
    display: block;
    width: 200px;
    margin: 40px auto 0;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}
.contact-form input[type=submit]:hover {
    background-color: gray;
}



footer{
    text-align: center;
    height:80px;
    background-color: black;
}
footer p{
    padding-top: 30px;
    font-size: 10px;
    margin-top: 0;
}






/* タブレット */

@media screen and (max-width: 960px) {

    /* ヘッダー */

    .site-title-sub {
        font-size: 1.7rem;
    }
      .site-title-sub::before,
      .site-title-sub::after {
        display: block;
        width: 80%;
        margin: 10px auto;
    }
      .site-title {
        margin-top: 35px;
        font-size: 5rem;
    }


    /* .button {
        width: 200px;
        margin: 0 auto;
    } */

    /* ABOUT */

    .about {
        padding: 60px 30px;
        margin: 0 auto;
        background-color: #fff;
        color: #333;
    }

    .about-container {
        /* width: 1200px; */
        /* margin: 0 auto; */
        padding: 0 4%;
        display: block!important;
    }

    .heading {
        font-size: 2.5rem;
    }

    .about-image {
        width: 100%;
        /* margin: 0 auto; */
    }

    .about-image img {
        width: 70%;
        /* margin: 0 auto; */
    }

    .about-text {
        width: 60%;
        margin: 0 auto 30px;
        /* line-height: 2.0; */
        text-align: center;
        font-size: 16px;
        margin: 50px auto 0;
    }
    
    .about-text p {
        margin-bottom: 30px;
    }
    
    .about-name {
        margin-top: 0;
    }

     .sns-icon {
        margin-top: 16px;
    } 
    
    a .icon {
        margin-right: 10px;
        font-size: 30px;
    }

    /* WORKS */

    .works-wrapper,
    .work-box  {
        display: block;
    }

    .works-wrapper {
        margin-top: 0;
    }

    .work-image {
        display: none;
    }

    .work-description {
        position: relative;
    }

    .work-box::after {
        top: 0;
        height: 100%;
        background-size: cover;
        transform: none;
    }



    /* SKILL */

    .skills-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .skill-box {
        width: 50%;
        margin-bottom: 30px;
    }


    /* CONTACT */

    .contact-icon {
        display: table;
        /* grid-template-columns: 1fr 1fr 1fr; */
        margin: 0 auto;
    }

    .contact-icon a {
        display: table-cell;
    }

}




/* スマートフォン */


@media screen and (max-width: 600px) {

    header {
        padding-top: 60px;
    }
      .site-title-sub {
        font-size: 1.7rem;
    }
    .site-title-sub::before,
    .site-title-sub::after {
        display: block;
        width: 80%;
        margin: 10px auto;
    }
    .site-title {
        margin-top: 35px;
        font-size: 5rem;
        width: 50%;
        margin: 35px auto 40px;
    }

    .button {
        width: 70%;
        margin: 0 auto;
    }

    .button:hover {
        opacity: 1;
    }

    /* ABOUT */

    .about {
        padding: 60px 30px;
        margin: 0 auto;
        background-color: #fff;
        color: #333;
    }

    .about-container {
        /* width: 1200px; */
        /* margin: 0 auto; */
        padding: 0 4%;
        display: block!important;
    }

    .heading {
        font-size: 2.5rem;
    }

    .about-image {
        width: 100%;
        /* margin: 0 auto; */
    }

    .about-image img {
        width: 100%;
        /* margin: 0 auto; */
    }
    

    .about-text {
        width: 100%;
        margin: 0 auto 30px;
        /* line-height: 2.0; */
        text-align: center;
        font-size: 16px;
        margin: 50px auto 0;
    }
    
    .about-text p {
        margin-bottom: 30px;
    }
    
    .about-name {
        margin-top: 0;
    }

     .sns-icon {
        margin-top: 16px;
    } 
    
    a .icon {
        margin-right: 10px;
        font-size: 30px;
    }
    
    

    /* WORKS */

    .works-wrapper,
    .work-box  {
        display: block;
    }

    .works-wrapper {
        margin-top: 0;
    }

    .work-image {
        display: none;
    }

    .work-description {
        position: relative;
    }

    .work-box::after {
        top: 0;
        height: 100%;
        background-size: cover;
        transform: none;
    }

    /* SKILL */

    .skills-wrapper,
    .skill-box {
        display: block;
    }

    .skill-box {
        margin: 40px auto;
    }

    .skill-text {
        margin: 0;
    }



    /* CONTACT */

    .contact-wrapper {
        margin: 0 auto;
        width: 100%;
    }

    .contact-wrapper .row {
        width: 100%;
    }

    .contact-icon {
        display: table;
        grid-template-columns: 1fr 1fr 1fr;
        /* width: 80%; */
        /* margin: 0 auto; */
        /* max-width: 800px */
    }

    .contact-icon a {
        display: table-cell;
        /* font-size: 20px; */
        margin: 0;
    }

    .contact {
        padding-bottom: 80px;
    }

      .contact-form {
        width: 80%;
    }

    .contact-form input[type=text],
    .contact-form input[type=email],
    .contact-form textarea {
    display: block;
    width: 80%;
    margin-bottom: 10px;
    padding: 15px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0;
    background-color: white;
    color: black;
    height: 40px;
    /* margin: 20px auto; */
    }


}